<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Lista de Estudantes</title>
</head>
<body>
    <h1>Lista de Estudantes</h1>
    <table border="1" width="100%">
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>E-mail</th>
            <th>Ação</th>
        </tr>

        <% if (estudante && estudante.length > 0 ) { %>

            <% for (var i = 0; i < estudante.length; i++) { %>

                <tr>
                <td><%- estudante[i].ID %></td>
                <td><%- estudante[i].NOMECOMPLETO %></td>
                <td><%- estudante[i].EMAIL %></td>
                <td>
                    <a href="/delete-estudante?id=<%- estudante[i].ID %>">Excluir</a> |
                    <a href="/update-estudante?id=<%- estudante[i].ID %>">Alterar</a>
                </td>
                <td><a href=""></a></td>
            </tr>

        <% } %>

        <% } else { %>

            <h1>Não temos estudantes no banco de dados</h1>

        <% } %>

    </table>
</body>
</html>